.container {
  height: calc(100vh - 128px);
}

.container-with-banner {
  height: calc(100vh - 192px);
}


mat-sidenav {
  max-width: 350px;
}

.movie-card {
  width: 200px;
  min-height: 480px;
  margin-bottom: 10px;
}

.small-movie-card {
  width: 100px;
  max-height: 250px;
}



.movie-card:hover {
  background-color: grayscale($color: grey);
}