<div *ngIf="searchResult">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
            Movie Nomination
        </mat-toolbar-row>

    </mat-toolbar>
    <mat-toolbar>
        <mat-toolbar-row *ngIf="isAddNewDisabled" fxLayout="row" fxLayoutAlign="center center"
            style="background-color: white; color:black">
            <p>You have nominated all the 5 movies!</p>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <mat-form-field style="width: 100%" floatLabel='never' >
                    <input matInput [(ngModel)]="searchText" placeholder="Search" (keyup.enter)="searchMovie()">
                </mat-form-field>

            <button mat-icon-button (click)="searchMovie()">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>stars</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container [ngClass]="isAddNewDisabled ? 'container-with-banner' : 'container'" [hasBackdrop]="true">
        <mat-sidenav position="end" #sidenav>
            <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 1rem; padding-left: 10px; padding-right: 10px">
                <h2>Nomination List</h2>
            </div>
            <div style="overflow:auto">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px"
                    style="padding-top: 1rem; padding-left: 1rem; padding-right: 1rem;">

                    <div *ngFor="let movie of nominationList">
                        <mat-card class="small-movie-card" style="margin-bottom: 15px;">

                            <mat-card-content >
                                <img [src]="movie.Poster" width="100%">
                            </mat-card-content>
                            <mat-card-footer style="padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
                                {{movie.Title}}
                                <button mat-icon-button (click)="removeMovie(movie)"
                                    [disabled]="nominationList.indexOf(movie) === -1">
                                    <mat-icon>delete</mat-icon> </button>
                            </mat-card-footer>
                        </mat-card>

                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 1rem;">
                <button mat-flat-button color="primary" (click)="saveList()"> Save</button>

            </div>

        </mat-sidenav>
        <mat-sidenav-content *ngIf="nominationList">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px"
                style="padding-top: 1rem; padding-left: 1rem; padding-right: 1rem;">
                <div *ngFor="let movie of searchResult">
                    <mat-card class="movie-card">
                        <div class="bg-image"></div>

                        <mat-card-content>
                            <img [src]="movie.Poster" width="100%">
                        </mat-card-content>
                        <mat-card-footer fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 10px; padding-left: 1rem;">
                            <div> Title: {{ movie.Title }}</div>
                            <div> Year: {{ movie.Year }}</div>
                            <div> IMDB ID: {{ movie.imdbID }}</div>

                            <button mat-flat-button color="primary" style="margin-top: 5px; margin-bottom: 5px" (click)="nominateMovie(movie)"
                                [disabled]="nominationList.indexOf(movie) > -1 || isAddNewDisabled">
                                Nominate </button>
                            <button mat-flat-button color="warn" (click)="removeMovie(movie)"
                                [disabled]="nominationList.indexOf(movie) === -1">
                                Remove From List </button>
                        </mat-card-footer>
                    </mat-card>

                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>